@charset "utf-8";
/* CSS Document */
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@font-face{
	font-family:ng;
	src:url(NanumGothic.eot);
	src:local(※), url(NanumGothic.woff) format(‘woff’)
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:'나눔고딕', 'NanumGothic', Arial, sans-serif;
}

.tit_div {
	position: absolute;
	left: 2px;
	margin-left: 450px;
	top: 42px;
	z-index: 99;
	height: 54px;
	width: 1317px;
	font-size: 32px;
}

.tit_div_w {
	position: absolute;
	left: -67px;
	margin-left: 450px;
	top: 46px;
	z-index: 99;
	height: 54px;
	width: 813px;
	font-size: 32px;
}

.tit_div2 {
	position: absolute;
	left: -292px;
	margin-left: 450px;
	top: 45px;
	z-index: 99;
	height: 861px;
	width: 114px;
	font-size: 60px;
}

.tit_div23 {
	position: absolute;
	left: -279px;
	margin-left: 450px;
	top: 45px;
	z-index: 99;
	height: 861px;
	width: 114px;
	font-size: 60px;
}

.tit_div3 {
	position: absolute;
	left: 91px;
	margin-left: 450px;
	top: 177px;
	z-index: 99;
	height: 70px;
	width: 350px;
	font-size: 60px;
}

.tit_div33 {
	position: absolute;
	left: 908px;
	margin-left: 450px;
	top: -35px;
	z-index: 99;
	height: 157px;
	width: 320px;
	font-size: 60px;
}

.tit_div4 {
	position: absolute;
	left: 623px;
	margin-left: 450px;
	top: 250px;
	z-index: 99;
	height: 160px;
	width: 775px;
}

.mem_no {
	position: absolute;
	left: -325px;
	margin-left: 450px;
	top: 66px;
	z-index: 99;
	height: 160px;
	width: 189px;
	font-size: 48px;
	color: #e4ff00;
}

.mem_inpt1 {
	position: absolute;
	left: -27px;
	margin-left: 450px;
	top: 429px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt2 {
	position: absolute;
	left: 221px;
	margin-left: 450px;
	top: 430px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt3 {
	position: absolute;
	left: 471px;
	margin-left: 450px;
	top: 432px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt4 {
	position: absolute;
	left: 721px;
	margin-left: 450px;
	top: 431px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt5 {
	position: absolute;
	left: 970px;
	margin-left: 450px;
	top: 432px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt6 {
	position: absolute;
	left: -30px;
	margin-left: 450px;
	top: 588px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt7 {
	position: absolute;
	left: 222px;
	margin-left: 450px;
	top: 589px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt8 {
	position: absolute;
	left: 469px;
	margin-left: 450px;
	top: 589px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt9 {
	position: absolute;
	left: 721px;
	margin-left: 450px;
	top: 589px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt10 {
	position: absolute;
	left: 969px;
	margin-left: 450px;
	top: 587px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt11 {
	position: absolute;
	left: -31px;
	margin-left: 450px;
	top: 751px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt12 {
	position: absolute;
	left: 225px;
	margin-left: 450px;
	top: 750px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt13 {
	position: absolute;
	left: 473px;
	margin-left: 450px;
	top: 749px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt14 {
	position: absolute;
	left: 719px;
	margin-left: 450px;
	top: 749px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt15 {
	position: absolute;
	left: 972px;
	margin-left: 450px;
	top: 752px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt16 {
	position: absolute;
	left: -29px;
	margin-left: 450px;
	top: 910px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt17 {
	position: absolute;
	left: 222px;
	margin-left: 450px;
	top: 909px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt18 {
	position: absolute;
	left: 472px;
	margin-left: 450px;
	top: 910px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt19 {
	position: absolute;
	left: 720px;
	margin-left: 450px;
	top: 912px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_inpt20 {
	position: absolute;
	left: 971px;
	margin-left: 450px;
	top: 911px;
	z-index: 99;
	height: 66px;
	width: 126px;
	font-size: 24px;
	color: #e4ff00;
}

.mem_card {
	position: absolute;
	left: -46px;
	margin-left: 450px;
	top: 87px;
	z-index: 99;
	height: 228px;
	width: 1300px;
}

.mem_card span {
	margin-right: 92px;
}

.ques_no {
	position: absolute;
	left: -10px;
	margin-left: 450px;
	top: 440px;
	z-index: 99;
	height: 100px;
	width: 600px;
	font-size: 24px;
	color: #e4ff00;
}

.ques_tit {
	position: absolute;
	left: 67px;
	margin-left: 450px;
	top: 560px;
	z-index: 99;
	height: 100px;
	width: 1179px;
	font-size: 32px;
	color: #fff;
}

.ques_tit3 {
	position: absolute;
	left: -36px;
	margin-left: 450px;
	top: 282px;
	z-index: 99;
	height: 60px;
	width: 1303px;
	font-size: 18px;
	color: #000;
}

.woori_tit3 {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 255px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit3_inpt {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 308px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit4 {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 328px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit4_inpt {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 381px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit5 {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 401px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit5_inpt {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 457px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit6 {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 478px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit6_inpt {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 532px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit7 {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 552px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit7_inpt {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 606px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit8 {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 630px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit8_inpt {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 683px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit9 {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 709px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit9_inpt {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 762px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit10 {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 782px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.woori_tit10_inpt {
	position: absolute;
	left: 71px;
	margin-left: 450px;
	top: 838px;
	z-index: 99;
	height: 30px;
	width: 1020px;
	font-size: 14px;
	color: #000;
}

.ques_btn {
	position: absolute;
	left: 1197px;
	margin-left: 450px;
	top: 889px;
	z-index: 99;
	height: 100px;
	width: 121px;
	font-size: 32px;
	color: #fff;
}

.woori_btn1 {
	position: absolute;
	left: -105px;
	margin-left: 450px;
	top: 915px;
	z-index: 99;
	height: 100px;
	width: 343px;
	font-size: 32px;
	color: #fff;
}

.woori_btn2 {
	position: absolute;
	left: 971px;
	margin-left: 450px;
	top: 919px;
	z-index: 99;
	height: 100px;
	width: 343px;
	font-size: 32px;
	color: #fff;
}

.woori_team {
	position: absolute;
	left: 500px;
	margin-left: 450px;
	top: 930px;
	z-index: 99;
	height: 100px;
	width: 343px;
	font-size: 32px;
	color: #fff;
}

.mem_btn {
	position: absolute;
	left: 1193px;
	margin-left: 450px;
	top: 930px;
	z-index: 99;
	height: 100px;
	width: 126px;
	font-size: 32px;
	color: #fff;
}

.adm_schbox {
	margin-left:12px;
	margin-right:12px;
	margin-top:-4px;
	height:100px;
}


/* 우선권 카드 #f3c241 */
.adm_chance_card1 h2 {
	line-height:30px;
	background-color:#f3c241;
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
}

/* 더블점수카드 #17ab36 */
.adm_chance_card3 h2 {
	line-height:30px;
	background-color:#17ab36;
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
}

/* 더블찬스 카드 #2972bf */
.adm_chance_card4 h2 {
	line-height:30px;
	background-color:#2972bf;
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
}

/* 찬스 없음 */
.adm_chance_card h2 {
	line-height:30px;
	background-color:#ffffff;
	font-weight: bold;
	padding-left: 10px;
}

/* 문제풀이 진행중 #b6b6b6 */
.adm_schbox_cr4 h2 {
	line-height:30px;
	background-color:#b6b6b6;
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
}

/* 문제풀이 완료 #584bbd */
.adm_schbox_cr5 h2 {
	line-height:30px;
	background-color:#584bbd;
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
}

/* 관리자 화면 범례 : 상단내비게이션 */
.adm_smple {
	position: absolute;
	left: 30px;
	margin-left: 240px;
	top: 10px;
	z-index: 99;
	height: 10px;
	width: 810px;
	font-size: 12px;
	color: #666;
}